<div ng-app="AngularCharts">
    <div ng-controller="MainCtrl">
        <button ng-click="getData()"> Fire!</button>
        <button ng-click="reset()"> Reset!</button>
        <div google-chart chart="chart"
             style="border:1px inset black;padding:0;width:400px" agc-on-select="handleSelect(selectedItem)">
           
        </div>
        
        <div ui-grid="gridOptions" ui-grid-grouping class="myGrid"></div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
<script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
<link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css"/>
<script src="~/Scripts/ng-google-chart.js"></script>
<script>
    //Init 
    var app = angular.module("AngularCharts", ["ui.grid","ui.grid.grouping","googlechart"]);
    app.controller('MainCtrl', function ($scope, $http) {
        //Method for pie chart selection
        $scope.handleSelect = function (selection) {
            console.log(selection);
            if(selection)
            $scope.gridOptions.data = $scope.empData.filter(function (emp) { return emp.Department == selection.row + 1 })
        };
        //Method for resetting grid to default state
        $scope.reset = function () { $scope.gridOptions.data = $scope.empData }

        //The grid options
        $scope.gridOptions = {
            enableGridMenu: true,
            showGridFooter: true,
            enableFiltering: true,
            columnDefs: [
              { name: 'Id' },
              { name: 'Name' },
              { name: 'Department' },
              { name: 'Date Of Birth' , field:'DOB'  },
              { name: 'Address' },
              { name: 'Category' },
              { name: 'Salary' }
            ]
        }
        $scope.getData = function () {
            $http.get("/Home/GetEmployees/" + 30000)
                         .success(function (response) {
                             //Global object for resetting grid to default state
                             $scope.empData = response;
                             //Actual data bound to grid
                             $scope.gridOptions.data = response;

                             
                             //Chart options
                             var chart = {};
                             chart.type = "PieChart";
                             chart.data = [
                                ['Department', 'EmpNumber'],
                                ['Department 1', response.filter(function (emp) { return emp.Department == 1 }).length],
                                ['Department 2', response.filter(function (emp) { return emp.Department == 2 }).length],
                                ['Department 3', response.filter(function (emp) { return emp.Department == 3 }).length],
                                ['Department 4', response.filter(function (emp) { return emp.Department == 4 }).length],
                                ['Department 5', response.filter(function (emp) { return emp.Department == 5 }).length],
                                ['Department 6', response.filter(function (emp) { return emp.Department == 6 }).length],
                                ['Department 7', response.filter(function (emp) { return emp.Department == 7 }).length],
                                ['Department 8', response.filter(function (emp) { return emp.Department == 8 }).length],
                                ['Department 9', response.filter(function (emp) { return emp.Department == 9 }).length],
                                ['Department 10', response.filter(function (emp) { return emp.Department == 10 }).length]
                             ];
                             chart.options = {
                                 displayExactValues: true,
                                 width: 400,
                                 height: 200,
                                 is3D: true,
                             };
                             //Assigning chart options to the actual chart object on the scope
                             $scope.chart = chart;
                         })
                         .error(function (response) {
                             $scope.error = response.data;
                             $scope.status = "Page load failed.";
                         });


        }
    });
</script>